#page-content{
  width: 100vw;
  height: 100vh;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 700px){
  #page-content{
    max-width: 100%;
  }

}