:root{
  font-size: 60%;

  --color-primary: #F13030;
  --color-background-web: #F36C6C;
  --color-txt-secondary: #CF8989;
  --color-text-base: #512727 ;
  --color-button-primary: #00AF54;
  --color-button-secondary: #009246;
  --color-line-in-white: #777777;
  --color-box-base: #F6F5F5;
  --color-button-text: #FFFFFF;
  --color-background-logo: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
}

body{
  background:var(--color-background-web);
  background-image: url(../Images/Desktop_bg.svg);
  background-size: cover;
  }


#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container{
  width: 90vw;
  max-width: 700px;
}

main{
  width: 414px;
  height: 584px;
  background: var(--color-box-base);
  border-radius: 5rem;
}

.logo-container{
  width: 100px;
  height: 104px;
  padding-top: 1.5rem;
  margin-top: 5rem;
  margin-left: 16rem;
  text-align: center;
  background: var(--color-background-logo);
  border-radius: 5rem;
}

.logo-container img{
  width: 36px;
  height: 72px;
  left: 10px;
  top: 10px;
}

.loginTxt h1{
  display: flex;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-left: 15.5rem;
  align-items: center;
  text-align: center;
  letter-spacing: 0.41px;
}

.input-block {
  height: 5.6rem;
  margin-top: 2rem;
  padding:  0 4rem;
}

.input-block input{
  width: 35rem;
  height: 5.5rem;
  padding: 1.25rem 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid var(--color-line-in-white);
  border-radius: 3.3rem;
  font: 1.9rem Archivo;
  outline: 0;
}

.input-block ::placeholder{
  font-family: Archivo;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.009999999776482582px;
  text-align: left;
  color: var(--color-txt-secondary  );
}

.submit-button{
  margin-top: 15rem;
  padding: 0 14.2rem;
}

.submit-button button{
  width: 15rem;
  height: 5rem;
  color: var(--color-button-text);
  background-color: var(--color-button-primary);
  border: 0;
  cursor: pointer;
  border-radius: 5rem;
  font: 700 1.6rem Archivo;
  transition: background-color 0.2s;
  outline: 0;
}

.submit-button button:hover{
  background: var(--color-button-secondary);
}