:root{
  font-size: 60%;

  --color-primary: #F13030;
  --color-primary-darker: #B22727;
  --color-background-web: #F36C6C;
  --color-txt-secondary: #CF8989;
  --color-text-base: #512727 ;
  --color-button-primary: #00AF54;
  --color-button-secondary: #009246;
  --color-line-in-white: #777777;
  --color-box-base: #F6F5F5;
  --color-button-text: #FFFFFF;
  --color-background-logo: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
}

body{
  background:var(--color-background-web);
  background-image: url(../Images/Desktop_bg.svg);
  background-size: cover;
  }


#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container{
  width: 90vw;
  max-width: 700px;
}
