:root {
  font-size: 60%;

  --color-primary: #f13030;
  --color-primary-darker: #b22727;
  --color-background-web: #f36c6c;
  --color-txt-secondary: #cf8989;
  --color-text-hoover: #e5d1d1;
  --color-text-base: #512727;
  --color-button-primary: #00af54;
  --color-button-secondary: #009246;
  --color-line-in-white: #777777;
  --color-box-base: #f6f5f5;
  --color-button-text: #ffffff;
  --color-button-cook: #f1f1f1;
  --color-background-logo: #ffffff;
  --color-reg-bg: #f0f0f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background-web);
  background-image: url(../Images/Desktop_bg.svg);
  background-size: cover;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

.container {
  width: 90vw;
  max-width: 700px;
}
